<%- include("header") -%>

<h2>About</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, veritatis.
  Natus impedit, quibusdam voluptas, nobis at reiciendis hic quo aut consectetur
  nesciunt culpa numquam iste? Nisi, similique commodi neque maiores quibusdam
  odit. Quas atque optio consequuntur qui architecto ipsum velit eaque.
  Explicabo sint tempore reprehenderit optio vel! Expedita quisquam quis vel
  sint temporibus qui maxime, eos illum molestiae reprehenderit. Itaque saepe
  blanditiis ullam architecto officia veritatis aperiam exercitationem eaque.
  Placeat!
</p>

<%- include("footer") -%>
